:root {
     --itemRotation: 0deg;
     --carouselPerspective: 50vw;
     --carouselRotation: 0deg;
     --carouselTransition: all .5s ease-in-out;

     --carouselZOffset: 0; // carousel "depth" offset
     --carouselItemZOffset: 415.692px; // carousel item "radius" from center
}

.carousel3D__wrapper {
     position: relative;

     display: flex;
     justify-content: center;
     align-items: center;
     font-size: 50px;

     perspective: var(--carouselPerspective);
     perspective-origin: 50% calc(50% - 0em);

     margin: 4rem 0;

     .carousel3D__scene {
          position: relative;
          width: 100%;
          transform-style: preserve-3d;
          transform: translateZ(var(--carouselZOffset));

          .carousel3D__carousel {
               width: 100%;
               aspect-ratio: 6 / 2.5;

               transform-style: preserve-3d;
               transform: rotateY(var(--carouselRotation));
               transition: var(--carouselTransition);

               > div {
                    transition: all 0.15s ease-in-out;
                    display: flex;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    // background-color: rgba(120, 10, 10, 0.2);
                    // box-shadow: 0 0 0.5em #000a inset;
                                        
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center center; 

                    transform: rotateY(var(--itemRotation)) translateZ(var(--carouselItemZOffset));

                    article {
                         width: 100%;
                         padding: 2rem 2rem 6rem;
                         margin-top: auto;
                         background-image: linear-gradient(rgba(40, 40, 40, 0), rgba(40, 40, 40, 1));
                         color: #fff;
                         overflow: hidden;

                         .carousel3D_overflow {
                              position: absolute;
                              inset: calc(100% - 6rem) 0 0 0;
                              height: 6rem;
                              background-image: linear-gradient(rgba(40, 40, 40, 0), #000);
                         }
                    }

                    a {
                         color: #fff;
                         text-decoration: none;
                         font-size: 2rem;

                         svg {
                              margin-left: 1rem;
                              transition: all .3s ease-in-out;
                              opacity: .7;
                         }
                         &:hover svg {
                              padding-left: .5rem;
                              opacity: 1;
                         }
                    }

                    h4 {
                         font-size: .8em;
                         margin-bottom: 1rem;
                    }
                    p {
                         font-size: .45em;
                         // line-height: 3;
                         max-width: 50ch;
                         height: 3rem;
                         max-height: 3rem;
                    }

                    h4, p {
                         opacity: 0; 
                         transform: translateY(-8rem);
                         transition: opacity .4s ease-in-out, transform .4s ease-in;
                    }
                    &.carousel3D__item__active {
                         h4, p { 
                              transform: translateY(0);
                              opacity: 1; 
                         } 
                    }
               }
          }
     }

     .carousel3D__controls {
          position: absolute;
          display: flex;
          top: 0;
          bottom: 0;
          z-index: 2;

          &.carousel3D_controls_left {
               left: -10rem;

               &:hover svg {
                    padding-right: 2rem;
               }
          }

          &.carousel3D_controls_right {
               right: -10rem;

               &:hover svg {
                    padding-left: 2rem;
               }
          }

          button {
               background: unset;
               border: unset;
               cursor: pointer;

               width: 8rem;
               font-size: 2rem;
               color: #fff;

               svg {
                    transition: all .3s ease-in-out;
               }
          }
     }
}
